.App {
  text-align: center;
  color:white;
  background-color: black;
}

.App-logo {
  height: 170px;
  pointer-events: none;
}
body{
  background-color: black;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.italic{
  font-family: input-mono-compressed, monospace;
font-weight: 400;
font-style: italic;
}
.name {
  font-family: input-mono, monospace;
font-weight: 400;
font-style: normal;
}

.intro{
  font-family: input-mono, monospace;
  font-weight: 200;
  font-style: normal;
}

.bold{
  font-family: input-mono-compressed, monospace;
  font-weight: 700;
  font-style: italic;
}

.boldsub{
  font-family: input-mono-compressed, monospace;
  font-weight: 700;
  color: #914244;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #914244;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #914244;
  background-color: transparent;
  text-decoration: underline;
}

.rotateIcon {
  transition: transform 0.3s ease; /* 添加过渡效果 */
  transform: rotate(0deg); /* 初始旋转角度为0度 */
}

.down {
  transform: rotate(90deg);
}

.up {
  transform: rotate(0deg);
}

.active {
  color: #914244;
}

@keyframes typing {
  from {
    width: 0;
  }
}

#game-text {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  padding: 4px;
  animation: typing 5s steps(40) infinite;
}
